<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
      </head>
      <body>
        <!-- <h1><%= title %></h1> -->
        <ul> 
          <% title.forEach(function(i) { %>
            <li>
              <div><%- i.id %></div>
              <div><%- i.name %></div>
              <div><%- i.icon %></div>
              <div><%- i.age %></div>
              <div><%- i.content %></div>
              <div><%- i.description %></div>
            </li>
          <% }) %>
        </ul>
        <script>
          let title = '<%= title %>';
          let arr = JSON.parse('<%- JSON.stringify(title) %>');
          console.log(arr);
        </script>
      </body>
</html>
